:root {
    /* Colors */
    --primary-color: #5352ed;
    --secondary-color: #ff6b81;
    --background-color: #f8f9fa;
    /* Fonts */
    --font-family: Arial, sans-serif;
    --font-size: 16px;
    --font-color: #2f3542;
    /* Spacing */
    --padding: 20px;
    --margin: 10px;
    /* Other variables */
    --border-radius: 5px;
}

body {
    background-color: var(--background-color);
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding-top: 10px;
}

.searchBar {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    background-color: #f1f2f6;
    color: var(--font-color);
}

.resultContainer {
    height: calc(80vh - 20px); /* Adjust the height to leave space for the search container */
    overflow-y: auto; /* Add scrollbar for overflow */
    padding: 0 20px; /* Add padding to prevent the scrollbar from overlapping content */
    margin-top: 10px;
}

.wordGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.wordTile {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .wordTile:hover {
        background-color: #e0e0e0;
    }
